header h3 
{color:#AAAAAA;}
.bg-mine
{background-color: #eeeeee;}

:hover .itshover
{box-shadow: 10px 10px 5px grey;
 background-color: rgba(0,0,0,.5);
}
.onemarkbg
{background-image:linear-gradient(#EEE,#FFF)}
